<h3>Add Customer</h3>
<form
  action="<%= '/employees/' + emp.employee_id + '/addCustomer'  %>"
  method="POST"
>
  <div>
    <input
      hidden
      type="text"
      class="form-control"
      name="employee_id"
      value="<%= emp.employee_id %>"
    />
  </div>

  <div>
    <label class="form-label">
      Customer ID:
      <input type="text" class="form-control" name="customer_id" />
    </label>
  </div>

  <button type="submit" class="btn btn-outline-primary">Add Customer</button>
</form>
