<h2>Add a Company</h2>
<form action="/addCustomer" method="POST">
  <div>
    <label class="form-label">
      Legal Entity Name:
      <input class="form-control" type="text" name="legal_entity_name" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Parent Entity ID:
      <input class="form-control" type="text" name="parent_entity_id" list="parent_names"/>
      <datalist id="parent_names">
        <% parentAccounts.forEach(function(parent) { %>
          <option value="<%= parent.customer_id %>"><%= parent.legal_entity_name %></option>
        <% }); %>
      </datalist>
    </label>
  </div>
  <div>
    <label class="form-label">
      Owner ID:
      <input class="form-control" type="text" name="owner_id" list="owner_names" />
      <datalist id="owner_names">
        <% accountManagers.forEach(function(mgr) { %>
          <option value="<%= mgr.id %>"><%= mgr.name %></option>
        <% }); %>
      </datalist>
    </label>
  </div>
  <div>
    <label class="form-label">
      Country:
      <input class="form-control" type="text" name="country" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Address:
      <input class="form-control" type="text" name="address" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Industry:
      <input class="form-control" type="text" name="industry" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Type:
      <select class="form-control" name="type">
        <option value="" disabled selected>Select</option>
        <option value="Direct Customer">Direct Customer</option>
        <option value="ODM">ODM</option>
        <option value="OEM">OEM</option>
        <option value="Distributor">Distributor</option>
        <option value="Ecosystem Partner">Ecosystem Partner</option>
      </select>
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
